<h2> Livre :  {{book?.title}}</h2>


<img [src]="book?.image">

<table *ngIf="book">
  <tr>
    <th>Title</th>
    <td>{{book.title}}</td>
  </tr>
  <tr>
    <th>Auteur</th>
    <td>{{book.author}}</td>
  </tr>
  <tr>
    <th>Prix</th>
    <td>{{book.price | currency : 'EUR':true}}</td>
  </tr>
  <tr>
    <th>Pages</th>
    <td>{{book.pages}}</td>
  </tr>
  <tr>
    <th>Note</th>
    <td>{{book.rating}}</td>
  </tr>
  <tr>
    <th>Description</th>
    <td [innerHTML] = "book.description"></td>
  </tr>

</table>


