<h2>Validation de la commande</h2>

<div style="float:right ; border: 2px dashed gray;margin: 1em; padding: 1em;">
  <pre>{{data | json}}</pre>
  <button (click)="log()"> log</button>
</div>

<form novalidate #form="ngForm" [class.submitted]="form.submitted">
  <fieldset>
    <legend>Identité</legend>
    <p>
      <label>Prenom : <input type="text" [(ngModel)]="data.identity.firstName" name="firstName"> </label>
    </p>
    <p>
      <label>Nom : <input type="text" [(ngModel)]="data.identity.lastName" name="lastName" required minlength="2" #controlLastName="ngModel"> </label>
    <span class="error" *ngIf="controlLastName.invalid && (controlLastName.touched || form.submitted)">
      <span *ngIf="controlLastName.hasError('required')">Mandatory</span>
      <span *ngIf="controlLastName.hasError('minlength')">pas assez long</span>

    </span>
    </p>
    <p>
      <label>email : <input type="email" [(ngModel)]="data.identity.email" name="email"> </label>
    </p>
  </fieldset>
  <fieldset>
    <legend>Adresse de livraison</legend>
    <p>
      <label>Rue : <input type="text" [(ngModel)]="data.shipping.street" name="street"> </label>
    </p>
    <p>
      <label>CP : <input type="text" [(ngModel)]="data.shipping.zipcode" name="zipcode" required pattern="[0-9]{4}" #controlZip="ngModel"> </label>
      <span class="error" *ngIf="controlZip.invalid && (controlZip.touched || form.submitted)">
      <span *ngIf="controlZip.hasError('required')">Mandatory</span>
      <span *ngIf="controlZip.hasError('pattern')">pas bon format</span>

    </span>
    </p>
    <p>
      <label>Ville : <input type="text" [(ngModel)]="data.shipping.city" name="city" required #controlCity="ngModel"> </label>
      <span class="error" *ngIf="controlCity.invalid && (controlCity.touched || form.submitted)">
      <span *ngIf="controlCity.hasError('required')">Mandatory</span>
    </span>
    </p>
    <p>
      <label>Pays <input type="text" [(ngModel)]="data.identity.country" name="country"> </label>
    </p>
  </fieldset>
  <p><button type="submit" [disabled]="form.invalid && form.submitted">Valider</button> </p>


</form>


