<h2>Validation de la commande</h2>

<div style="float:right ; border: 2px dashed gray;margin: 1em; padding: 1em;">
  <pre>{{data | json}}</pre>
  <button (click)="log()"> log</button>
</div>

<form novalidate #form="ngForm" [class.submitted]="form.submitted">
  <fieldset>
    <legend>Identité</legend>
    <app-control label="Prénom">
      <input type="text" [(ngModel)]="data.identity.firstName" name="firstName">
    </app-control>
    <app-control label="Nom">
      <input type="text" [(ngModel)]="data.identity.lastName" name="lastName" required minlength="2"
             #controlLastName="ngModel">
    </app-control>
    <app-control label="Email">
      <input type="email" [(ngModel)]="data.identity.email" name="email">
    </app-control>

  </fieldset>
  <fieldset>
    <legend>Adresse de livraison</legend>
    <app-control label="Rue"><input type="text" [(ngModel)]="data.shipping.street" name="street">
    </app-control>
    <app-control label="CP">
      <input type="text" [(ngModel)]="data.shipping.zipcode" name="zipcode" required pattern="[0-9]{4}"
             #controlZip="ngModel">
    </app-control>
    <app-control label="Ville">
      <input type="text" [(ngModel)]="data.shipping.city" name="city" required #controlCity="ngModel">
    </app-control>
    <app-control label="Pays">
      <input type="text" [(ngModel)]="data.identity.country" name="country">
    </app-control>

  </fieldset>
  <p>
    <button type="submit" [disabled]="form.invalid && form.submitted">Valider</button>
  </p>


</form>


